[Desktop Entry]
Version=1.0
Name=Logseq
Comment=Open-source Knowledge base
Exec=logseq
Icon=/opt/logseq.png
Terminal=false
Type=Application
StartupNotify=true
Actions=preferences;

X-Desktop-File-Install-Version=0.26
