* {
  border: none;
  font-family: 'Anonymous Pro', 'Symbols Nerd Font Mono';
  font-size: 11px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 15px;
}

window#waybar {
  background: transparent;
}

#workspaces {
  border-radius: 5px;
  background-color: #100e1f;
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #c3d4f8;
}

#workspaces button.active {
    padding: 0 5px;
    color: #0188aa;
}

#workspaces button:hover {
    background-color: #0188aa;
}

#custom-arch {
  border-radius: 5px;
  background-color: #100e1f;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 5px;
  color: #277fff;
}

#clock, #custom-mail, #custom-pacman, #custom-vpn, #temperature, #disk, #memory, #cpu, #network, #battery{
  border-radius: 5px;
  background-color: #100e1f;
  color: #c3d4f8;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  margin-right: 5px;
}

#tray{
  border-radius: 5px;
  background: transparent;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

#clock {
  margin-right: 0;
}

#temperature.critical{
  color: #de1b2f;
}

/* tooltip box */
tooltip {
    background-color: rgba(16, 14, 31, 0.8);
    border: 1px solid #18152f;
}

/* tooltip content */
tooltip label {
    color: #c3d4f8;
}
