* {
  border: none;
  font-family: 'Anonymous Pro', 'Symbols Nerd Font Mono';
  font-size: 11px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 15px;
}

window#waybar {
  background-color: #100e1f;
}

#workspaces {
  background-color: #100e1f;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #c3d4f8;
}

#workspaces button.active {
    padding: 0 5px;
    color: #0188aa;
}

#workspaces button:hover {
    background-color: #0188aa;
}

#custom-arch {
  background-color: #100e1f;
  color: #277fff;
}

#clock, #custom-mail, #custom-pacman, #custom-vpn, #temperature, #disk, #memory, #cpu, #network, #battery{
  background-color: #100e1f;
  color: #c3d4f8;
  padding-left: 2px;
  padding-right: 2px;
}

#clock {
  margin-right: 0;
}

#temperature.critical{
  color: #de1b2f;
}

/* tooltip box */
tooltip {
    background-color: rgba(16, 14, 31, 0.8);
    border: 1px solid #18152f;
}
