* {
  border: none;
  font-family: 'Anonymous Pro', 'Symbols Nerd Font Mono';
  font-size: 11px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 22px;
}

window#waybar {
  background: transparent;
}

#waybar > box {
    border-radius: 8px;
    margin: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px 1px #18152f;
    background-color: #100e1f;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
  margin-top: 5px;
  margin-bottom: 5px;
}

#workspaces button {
    padding: 0px 5px;
    background: transparent;
    color: #c3d4f8;
}

#workspaces button.active {
    padding: 0 5px;
    color: #0188aa;
}

#workspaces button:hover {
    background-color: #0188aa;
}

#custom-arch {
  padding-left: 10px;
  padding-right: 5px;
  color: #277fff;
}

#custom-sep-close {
  padding-right: 5px;
  color: #302a5c;
}

#custom-sep-open {
  color: #302a5c;
}

#clock, #custom-mail, #custom-pacman, #custom-vpn, #custom-cons, #custom-vms, #temperature, #disk, #memory, #cpu, #network, #battery{
  color: #c3d4f8;
  padding-right: 5px;
}

#tray{
  background: transparent;
  padding-right: 5px;
}

#clock {
  margin-right: 0;
}

#temperature.critical{
  color: #de1b2f;
}

/* tooltip box */
tooltip {
    background-color: rgba(16, 14, 31, 0.8);
    border: 1px solid #18152f;
}

/* tooltip content */
tooltip label {
    color: #c3d4f8;
}
